# This is a sample build configuration for Java (Maven).
# Check our guides at https://confluence.atlassian.com/x/zd-5Mw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: maven:3.3.9

pipelines:
  default:
    - step:
        caches:
          - maven
        script: # Modify the commands below to build your repository.
          - cat /etc/issue
          - mvn -B verify # -B batch mode makes Maven less verbose
          - curl -X POST "https://${BB_AUTH_STRING}@api.bitbucket.org/2.0/repositories/${BITBUCKET_REPO_OWNER}/${BITBUCKET_REPO_SLUG}/downloads" --form files=@"target/emory-aws-account-service-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.jar"
          - apt-get update
          - apt-get install zip
          - zip -r emory-aws-account-service-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.zip .
          - curl -X POST "https://${BB_AUTH_STRING}@api.bitbucket.org/2.0/repositories/${BITBUCKET_REPO_OWNER}/${BITBUCKET_REPO_SLUG}/downloads" --form files=@"emory-aws-account-service-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.zip"
