# This is a sample build configuration for Java (Maven).
# Check our guides at https://confluence.atlassian.com/x/zd-5Mw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image:
  name: emory/esb-service-base-1.0:latest
  username: $DOCKER_HUB_USERNAME
  password: $DOCKER_HUB_PASSWORD
  email: $DOCKER_HUB_EMAIL
  run-as-user: 1000

options:
  docker: true

pipelines:
  default:
     - step:
        name: Build ESB service
        caches:
        - maven
        script:
        - cat /etc/issue         # echo out the linux the image using
        - source $HOME/.profile  # source the profile to setup env variables
        - cp lib/*.jar deploy/build-test/libs/AwsAccountService  #copy build libraries to build-test
        - mvn -X verify          # -B batch mode makes Maven less verbose
        - ls target/*
        artifacts:
        - target/**              # preserve the build artifacts for the next step

     - step:
        name: Deploy and test locally
        script:
        - ls -la
        - echo $HOME
        - cp lib/*.jar deploy/build-test/libs/AwsAccountService
        - cp target/*.jar deploy/build-test/libs/AwsAccountService
        - cp -R deploy/* $HOME/deploy
        - cd
        - source .profile
        - activemq start
        - sleep 5
        #- tail -1000 /opt/activemq/apache-activemq-5.15.2/data/activemq.log
        #- export OPENEAI_HOME=$HOME/deploy/build-test
        #- cd $OPENEAI_HOME
        #- mkdir -p logs
        #- ./start.sh AwsAccountService
        #- sleep 5
        #- tail -1000 System.out
        #- tail -1000 logs/AwsAccountService.log
        #- ./start.sh AwsAccountServiceTestSuite
        #- sleep 20
        #- tail -1000 logs/TestSuiteApplication-AwsAccountService.log
        artifacts:
        - deploy/**     # preserve the deploy artifacts for the next step

     - step:
        name: Generate web service facade
        script:
        - ls deploy/build-test/libs/AwsAccountService
        - git clone https://${BB_AUTH_STRING}@bitbucket.org/itarch/openeai-servicegen.git # import service generation deps
        - source $HOME/.profile                                                           # source the profile to setup env variable
        - export BUILD_HOME=`pwd`
        - echo version $VERSION_NUMBER build $BITBUCKET_BUILD_NUMBER
        - cp deploy/build-test/servicegen-configs/awsaccount.properties openeai-servicegen/properties/awsaccount.properties # copy the servicegen properties to where servicegen needs them
          #- cp deploy/build-test/servicegen-configs/build.custom.properties openeai-servicegen/build.custom.properties # copy the servicegen properties to where servicegen needs them
          #- cp deploy/build-test/servicegen-configs/build.default.properties openeai-servicegen/build.default.properties # copy the servicegen properties to where servicegen needs them
          #- cp deploy/build-test/servicegen-configs/build.webservice.xml openeai-servicegen/build.webservice.xml # copy the servicegen properties to where servicegen needs them
        - cd openeai-servicegen                                                           # change working directory to servicegen home
        - ./gen-webservice awsaccount                                                       # generate the web service facade
        - cat target/awsaccount/emory-awsaccount-webservice/resources/services.xml
        - export TARGET_DIR=target/awsaccount/emory-awsaccount-webservice/build/lib
        - ls -la $TARGET_DIR
        - mkdir -p $BUILD_HOME/deploy/build-test/libs/Axis2
        - cp $TARGET_DIR/emory-awsaccount-webservice-1.0-localhost.aar $BUILD_HOME/deploy/build-test/libs/Axis2/emory-awsaccount-webservice-1.0.aar
        - cp $TARGET_DIR/emory-awsaccount-webservice-1.0-wsdl-classes.jar $BUILD_HOME/deploy/build-test/libs/AwsAccountService/emory-awsaccount-webservice-1.0-wsdl-classes.jar
        - mkdir -p $BUILD_HOME/deploy/esb-dev/libs/Axis2
        - cp $TARGET_DIR/emory-awsaccount-webservice-1.0-dev.aar $BUILD_HOME/deploy/esb-dev/libs/Axis2/emory-awsaccount-webservice-1.0.aar
        - mkdir -p $BUILD_HOME/deploy/esb-test/libs/Axis2
        - cp $TARGET_DIR/emory-awsaccount-webservice-1.0-qa.aar $BUILD_HOME/deploy/esb-test/libs/Axis2/emory-awsaccount-webservice-1.0.aar
        - mkdir -p $BUILD_HOME/deploy/esb-stage/libs/Axis2
        - cp $TARGET_DIR/emory-awsaccount-webservice-1.0-stage.aar $BUILD_HOME/deploy/esb-stage/libs/Axis2/emory-awsaccount-webservice-1.0.aar
        - mkdir -p $BUILD_HOME/deploy/esb-prod/libs/Axis2
        - cp $TARGET_DIR/emory-awsaccount-webservice-1.0-prod.aar $BUILD_HOME/deploy/esb-prod/libs/Axis2/emory-awsaccount-webservice-1.0.aar
        # Create the htpasswd file for beanstalk.
        - htpasswd -b -c $BUILD_HOME/.ebextensions/httpd/htpasswd $WS_USERNAME $WS_PASSWORD
        # Use sed to replace the LDAP info in the apache config
        - sed -i 's/WS_LDAP_BIND_PASSWORD/'"$WS_LDAP_BIND_PASSWORD"'/g' $BUILD_HOME/.ebextensions/httpd/conf.d/elasticbeanstalk/00_application.conf
        - sed -i 's/WS_LDAP_BIND_DN/'"$WS_LDAP_BIND_DN"'/g' $BUILD_HOME/.ebextensions/httpd/conf.d/elasticbeanstalk/00_application.conf
        - ls -laR $BUILD_HOME/.ebextensions
        - cp $BUILD_HOME/lib/openeai-core-5.0.4.jar $BUILD_HOME/deploy/build-test/libs/AwsAccountService
        - cp $BUILD_HOME/lib/aws-moa*.jar $BUILD_HOME/deploy/build-test/libs/AwsAccountService
        - cp $BUILD_HOME/deploy/build-test/configs/messaging/Environments/Examples/Jars/AwsAccountService/*.jar $BUILD_HOME/deploy/build-test/libs/AwsAccountService
        # Create the axis2.war file for build environment
        - cd $BUILD_HOME/deploy/build-test/libs/Axis2
        - ../../../../processEnv.sh
          
        # Create the axis2.war file for DEV
        - cd $BUILD_HOME/deploy/esb-dev/libs/Axis2
        - ../../../../processEnv.sh
        # Create the axis2.war file for TEST
        - cd $BUILD_HOME/deploy/esb-test/libs/Axis2
        - ../../../../processEnv.sh
        # Create the axis2.war file for STAGE, almost the same as TEST except .aar
        - cd $BUILD_HOME/deploy/esb-stage/libs/Axis2
        - ../../../../processEnv.sh
        # Create the axis2.war file for PROD
        - cd $BUILD_HOME/deploy/esb-prod/libs/Axis2
        - ../../../../processEnv.sh
        # Not sure what George is doing here---maybe copying files to hand to the integration team?
        #- cp $BUILD_HOME/deploy/build-test/libs/AwsAccountService/emory-awsaccount-webservice-1.0-wsdl-classes.jar .
        #- cp $BUILD_HOME/lib/aws-moa*.jar .
        - cd ../../../..
        - pwd
        - ls deploy/esb-test/libs/Axis2/axis2.war
        - ls deploy/build-test/libs/Axis2/axis2.war

        artifacts:
        - deploy/**     # preserve the deploy artifacts for the next step
        - openeai-servicegen/target/**   # un-comment to make the servicegen facade code available for download

     - step:
        name: Deploy and test the facade locally
        script:
        - source $HOME/.profile
        - cd deploy/build-test
        - export BUILD_HOME=`pwd`
        - wget  https://archive.apache.org/dist/tomcat/tomcat-8/v8.0.50/bin/apache-tomcat-8.0.50.tar.gz
        - tar xvzf apache-tomcat-8.0.50.tar.gz
        - cp -R configs  apache-tomcat-8.0.50/bin
        - cp -R message  apache-tomcat-8.0.50/bin
        #- cp -R eos  apache-tomcat-8.0.50/bin
        - cd ../..
        - ls deploy
        - pwd
        - ls deploy/esb-test/libs/Axis2/axis2.war
        - ls deploy/build-test/libs/Axis2/axis2.war
        - jar tf deploy/build-test/libs/Axis2/axis2.war
        - cp deploy/build-test/libs/Axis2/axis2.war deploy/build-test/apache-tomcat-8.0.50/webapps
        - cd deploy/build-test/apache-tomcat-8.0.50/bin
        - export CATALINA_HOME=..
        - chmod 755 *.sh
        - ./startup.sh
        - sleep 30
        - tail -1000  ../logs/catalina.out
        #- wget http://localhost:8080/axis2/services/listServices
        #- cat listServices
        #- wget http://localhost:8080/axis2/services/AwsAccountService?wsdl
        #- cat AwsAccountService?wsdl
        # everything needs to run locally to test: activeMQ, database, sampleMessage and EOs
        #- $BUILD_HOME/tests/post.curl.sh
        #- cat ../logs/catalina.out

     - step:
        name: Upload build products
        script:
        - git clone https://${BB_AUTH_STRING}@bitbucket.org/itarch/emory-aws-pipeline-scripts.git
        - ls -la
        - zip -r emory-awsaccount-service-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.zip .
        - ls -l emory-awsaccount-service-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.zip
        # file too large to upload to bitbucket
        #- emory-aws-pipeline-scripts/upload_artifact.sh emory-awsaccount-service-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.zip
        - emory-aws-pipeline-scripts/upload_artifact_s3.sh emory-awsaccount-service-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.zip itarch-bitbucket-downloads /emory-aws-account-service/
        - ls target/emory-awsaccount-service-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.jar
        - emory-aws-pipeline-scripts/upload_artifact.sh target/emory-awsaccount-service-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.jar
        - emory-aws-pipeline-scripts/upload_artifact_s3.sh target/emory-awsaccount-service-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.jar itarch-bitbucket-downloads /emory-aws-account-service/

     - step:
        name: Deploy to dev
        script:
        - git clone https://${BB_AUTH_STRING}@bitbucket.org/itarch/emory-aws-pipeline-scripts.git
        - export S3_UPLOAD_ARTIFACT=deploy/esb-dev/libs/Axis2/axis2.war
        - python3 emory-aws-pipeline-scripts/beanstalk_deploy.py DEV
        #- sleep 30
        #- export WS_URL=https://emory-awsaccount-service-dev/services/AwsAccountService
        #- wget ${WS_URL}?wsdl
        #- cat AwsAccountService?wsdl
        #- deploy/build-test/tests/curl.post.sh ${WS_URL}

     - step:
        name: Deploy to test
        deployment: test
        trigger: manual
        script:
        - git clone https://${BB_AUTH_STRING}@bitbucket.org/itarch/emory-aws-pipeline-scripts.git
        - export S3_UPLOAD_ARTIFACT=deploy/esb-test/libs/Axis2/axis2.war
        - python3 emory-aws-pipeline-scripts/beanstalk_deploy.py TEST

     - step:
        name: Deploy to staging
        deployment: staging
        trigger: manual
        script:
        - git clone https://${BB_AUTH_STRING}@bitbucket.org/itarch/emory-aws-pipeline-scripts.git
        - export S3_UPLOAD_ARTIFACT=deploy/esb-stage/libs/Axis2/axis2.war
        - python3 emory-aws-pipeline-scripts/beanstalk_deploy.py STAGE

     - step:
        name: Deploy to production
        deployment: production
        trigger: manual
        script:
        - git clone https://${BB_AUTH_STRING}@bitbucket.org/itarch/emory-aws-pipeline-scripts.git
        - export S3_UPLOAD_ARTIFACT=deploy/esb-prod/libs/Axis2/axis2.war
        - python3 emory-aws-pipeline-scripts/beanstalk_deploy.py PROD
