files:
  "/tmp/update_tomcat_server_xml.sh":
    owner: root
    group: root
    mode: "000755"
    content: |
      #! /bin/bash
      TOMCAT_CONF=/etc/tomcat8/server.xml
      CONFIGURED=`grep -c 'Connector port="8009" protocol="AJP/1.3" redirectPort="8443" tomcatAuthentication="false"' ${TOMCAT_CONF}`
      if [ $CONFIGURED = 0 ]
        then
          sed -i 's,Connector port="8009" protocol="AJP/1.3" redirectPort="8443",Connector port="8009" protocol="AJP/1.3" redirectPort="8443" tomcatAuthentication="false",' ${TOMCAT_CONF}
          logger -t tomcat_conf "${TOMCAT_CONF} updated successfully..restarting tomcat"
          service tomcat8 restart
          exit 0
        else
          logger -t tomcat_conf "${TOMCAT_CONF} already updated"
          exit 0
      fi

container_commands:
  00_update_tomcat_server_xml:
    command: sh /tmp/update_tomcat_server_xml.sh
